$dark-bg: lighten(black, 15%);
$dark-bg-highlight: lighten(black, 28%);
$dark-bg-light: lighten(black, 24%);


$dark-text: lighten(black, 65%);
$dark-text-title: lighten(black, 75%);
$dark-text-subtitle: lighten(black, 45%);

$dark-border: lighten(black, 30%);
$dark-border-light: lighten(black, 60%);


@media (prefers-color-scheme: dark) {
  body{
    background-color: $dark-bg;
  }

  .container{
    background-color: $dark-bg;
  }



  // LABEL
  .rate{
    background-color: transparent !important;
  }

  .iphone{
    .title-content{
      border-bottom-color: $dark-border;
      .title{
        color: $dark-text-title;
      }
      .slogan{
        color: $dark-text-subtitle;
      }
    }

    .main-ref{
      .label{
        color: $dark-text;
      }
      .value{
        color: $dark-text;
        &.cyan{
          color: desaturate(darken($cyan, 10%), 5%);
        }
        &.magenta{
          color: desaturate(darken($magenta, 15%), 10%);
        }
      }
    }

    .detail-item{
      &-label{
        color: $dark-text-subtitle;
      }
      &-content{
        color: $dark-text;
        .tip{
          color: $dark-text;
          .sup{
            background-color: $dark-bg;
          }
        }
      }
    }
  }

  .gradient-blue{
    color: darken(white, 15%) !important;
    background-image: linear-gradient(to bottom right, darken(#618BFA, 25%), darken(#1CB2F7, 25%));
  }
  .gradient-purple{
    color: darken(white, 15%) !important;
    background-image: linear-gradient(to bottom right, darken(#C621FF, 25%), darken(#FE3EBA, 25%));
  }


  // SVG
  rect{
    fill: transparent;
    &#iphone-outside{
      stroke: $dark-border-light;
      fill: $dark-bg
    }
    &#iphone-inside{
      stroke: $dark-border-light;
      fill: $dark-bg-highlight
    }
    &#iphone-inch{
      stroke: $dark-border-light;
      fill: $dark-bg-highlight
    }
    &#iphone-line{
      fill: $orange
    }
  }
  text, tspan{
    fill: $dark-text-title
  }

  .filter-list{
    .apple-watch-tag-list{
      .iphone-tag{
        border-color: $dark-border;
        color: $dark-text;
        background-color: $dark-bg;
        &:hover{
          background-color: $dark-bg-highlight;
        }
        &.active{
        }
      }
    }
  }


  // SCROLL BAR
  ::-webkit-scrollbar {
    z-index: 50;
    width: 8px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    border-color: transparent;
    background-color: transparent;
  }

  :hover::-webkit-scrollbar-thumb {
    //border: 1px solid $dark-border;
    background-color: $dark-bg-highlight;
  }



  // ABOUT
  .gradient{
    background-image: linear-gradient(to bottom right, lighten(black, 20%), lighten(black, 25%));
  }

  @media (max-width: 450px) {
    body {
      background-color: $dark-bg !important;
    }
    .iphone {
      overflow: hidden;
      @include border-radius(15px);
      background-color: $dark-bg-light !important;
      margin-bottom: 20px;
      padding: 0;
      border: 1px solid $dark-border !important;
    }
    .title-content{
      border-bottom: 1px solid $color-border;
      background-color: $dark-bg-highlight !important;
    }
    .ref-content{
      > *{
        border-bottom: 1px solid $dark-border !important;
      }
    }
  }

  .score-bar {
    .score {
      color: $dark-text-subtitle;
    }
  }

  .sim-item{
    .name{
      color: $dark-text;
    }
    .type{
      color: $dark-text-subtitle;
    }
  }
}
