$dark-bg: lighten(black, 15%);
$dark-bg-highlight: lighten(black, 28%);
$dark-bg-light: lighten(black, 24%);


$dark-text: lighten(black, 65%);
$dark-text-title: lighten(black, 75%);
$dark-text-subtitle: lighten(black, 45%);

$dark-border: lighten(black, 30%);
$dark-border-light: lighten(black, 60%);


@media (prefers-color-scheme: dark) {
  body{
    background-color: $dark-bg;
  }
  .container{
    background-color: $dark-bg;
  }

  // LABEL
  .rate{
    background-color: transparent !important;
  }

  .apple-watch{
    border-bottom-color: $dark-border;
  }


  .gradient-blue{
    color: darken(white, 15%) !important;
    background-image: linear-gradient(to bottom right, darken(#618BFA, 25%), darken(#1CB2F7, 25%));
  }
  .gradient-purple{
    color: darken(white, 15%) !important;
    background-image: linear-gradient(to bottom right, darken(#C621FF, 25%), darken(#FE3EBA, 25%));
  }


  // SVG
  rect{
    fill: transparent;
    &#apple-watch-outside{
      stroke: $dark-border-light;
      fill: $dark-bg
    }
    &#apple-watch-inside{
      stroke: $dark-border-light;
      fill: $dark-bg-highlight
    }
    &#apple-watch-inch{
      stroke: $dark-border-light;
      fill: $dark-bg-highlight
    }
    &#apple-watch-line{
      fill: $orange
    }
  }
  text, tspan{
    fill: $dark-text-title
  }

  .filter-list{
    .apple-watch-tag-list{
      .apple-watch-tag{
        border-color: $dark-border;
        color: $dark-text;
        background-color: $dark-bg;
        &:hover{
          background-color: $dark-bg-highlight;
        }
        &.active{
        }
      }
    }
  }


  // SCROLL BAR
  ::-webkit-scrollbar {
    z-index: 50;
    width: 8px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    border-color: transparent;
    background-color: transparent;
  }

  :hover::-webkit-scrollbar-thumb {
    //border: 1px solid $dark-border;
    background-color: $dark-bg-highlight;
  }


  // Labels
  // HEADER
  .section-header{
    .section-title{
      color: $dark-text-title;
    }
    .section-subtitle{
      color: $dark-text-subtitle;
    }
  }

  // ITEM
  .sensor-info-item{
    color: $dark-text-title;
    .label{
      color: $dark-text-subtitle;
    }
    .value{
      &.value-inline{
      }
      .unit{
        color: $green;
      }
    }
    &:hover{
      background-color: $dark-bg-highlight;
      .label{

      }
    }
  }

  .value-item-second{
    font-size: $fz-main;
    background-color: transparentize(white, 0.95);
    .label-second{
    }
    .value-second{
    }
  }


  // 充电 ITEM
  $height-charging-bar: 24px;
  .charging-container{
  }
  .charging-item {
    color: white;
    &:last-child{
    }
    .bar{
      .time{
      }
      .percentage{
      }
    }
    &.orange{
      .bar{
        border-color: $orange;
        background-color: transparentize($orange, 0.1);
      }
    }
    &.green{
      background-color: transparentize($green, 0.1);
    }
  }

  .tag{
    background-color: $dark-bg;
    border: 1px solid $dark-border;
  }


  .svg-size{
    .cls-6 {
      fill: transparent;
    }
  }

}
