// HEADER
.section-header{
  padding: 5px 10px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid $color-border;
  font-size: $fz-main + 5;
  .section-title{
    font-weight: bold;
  }
  .section-subtitle{
    margin-left: 10px;
    color: $text-subtitle;
  }
}

// ITEM
.sensor-info-item{
  @include border-radius(3px);
  padding: 3px 5px;
  display: flex;
  font-size: $fz-main;
  color: $text-main;
  .label{
    width: 100px;
  }
  .value{
    &.value-inline{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    font-family: Galvji, sans-serif;
    .unit{
      color: $green;
    }
  }
  &:hover{
    background-color: $bg-highlight;
    .label{

    }
  }
}

.value-item-second{
  display: flex;
  font-size: $fz-main;
  align-items: center;
  line-height: 20px;
  .label-second{
    font-weight: bold;
  }
  .value-second{

  }
}


// 充电 ITEM
$height-charging-bar: 24px;
.charging-container{
  display: flex;
  flex-flow: column nowrap;
}
.charging-item {
  font-size: $fz-sm;
  margin-bottom: 5px;
  width: 200px;
  height: $height-charging-bar;
  color: white;
  font-family: Galvji, sans-serif;
  &:last-child{
    margin-bottom: 0;
  }
  .bar{
    position: relative;
    height: $height-charging-bar;
    .time{
      line-height: $height-charging-bar;
      right: 10px;
      position: absolute;
    }
    .percentage{
      left: 10px;
      line-height: $height-charging-bar;
      position: absolute;
    }
  }
  &.orange{
    .bar{
      border-color: $orange;
      background-color: transparentize($orange, 0.1);
    }
  }
  &.green{
    background-color: transparentize($green, 0.1);
  }
}

.tag{
  font-size: $fz-sm;
  margin-right: 5px;
  line-height: 1;
  background-color: white;
  border: 1px solid $color-border;
  padding: 2px 5px;
  @include border-radius(3px);
}
