
.section-header{
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid $color-border;
  font-size: $fz-main + 5;
  .section-title{
    font-weight: bold;
  }
  .section-subtitle{
    margin-left: 10px;
    color: $text-subtitle;
  }
}

.sensor-info-item{
  margin-bottom: 3px;
  display: flex;
  font-size: $fz-main;
  color: $text-main;
  .label{
    width: 100px;
  }
  .value{
    font-family: Galvji;
    .unit{
      color: $green;
    }
  }
}


.value-item-second{
  display: flex;
  font-size: $fz-sm;
  .label-second{

  }
  .value-second{

  }
}
