@import "variables";
@import "reset";
@import "utility";
@import "font";
@import "gutter";
@import "font";
@import "about";
@import "layout";
@import "changelog";
@import "filter-list";
@import "help";
@import "svg-image";

body{
  background-color: $bg-highlight;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

footer{
  padding: 10px 0 40px;
  font-size: 12px;
  text-align: center;
  color: $gray;
  a{
    color: $gray;
    &:hover{
      color: $color-main;
    }
  }
}


.apple-watch-list{
  margin: 0 auto;
  max-width: 1440px;
  padding: 30px 30px 50px 30px;
  @media (max-width: 768px){
    padding: 20px 10px;
  }
}
// LEVEL 1
.apple-watch{
  padding: 18px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .content-frame{
    flex-grow: 1;
  }
}


.main-info{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .main-pic{
    img{
      width: 300px;
      display: block;
    }
  }

  .title{
    font-weight: bold;
    font-size: $fz-title;
    &.is-new{
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      //background-image: linear-gradient(to top right, #ff31d1, #00ceff);
      background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
    }
  }
  .date{
    color: $text-subtitle;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    font-size: $fz-main;
  }
}


@import "label";
@import "dark";
