@import "variables";
@import "reset";
@import "utility";
@import "font";
@import "gutter";
@import "font";
@import "about";
@import "layout";
@import "changelog";
@import "filter-list";
@import "help";
@import "svg-image";

body{
  background-color: $bg-highlight;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

.announcement{
  border-bottom: 1px solid $color-border;
  padding: 40px;
  width: 100%;
  text-align: center;
  a{
    color: $gray;
    &:hover{
      color: $color-main;
    }
  }
}

footer{
  padding: 10px 0 40px;
  font-size: 12px;
  text-align: center;
  color: $gray;

}

.apple-watch-list{
  margin: 0 auto;
  max-width: 1800px;
  padding: 30px 30px 50px 30px;
  @media (max-width: 768px){
    padding: 20px 10px;
  }
}

.apple-watch{
  padding: 80px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid $color-border;
}

// 主要信息
section.main-info{
  margin-right: 30px;
  @include border-radius(20px);
  padding: 10px;
  background-color: white;
  flex-shrink: 0;
  width: 400px;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: center;
  .main-pic{
    img{
      width: 300px;
      display: block;
    }
  }

  .title{
    font-family: 'Galvji', sans-serif;
    margin-top: 20px;
    font-weight: bold;
    font-size: $fz-title;
    &.is-new{
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      //background-image: linear-gradient(to top right, #ff31d1, #00ceff);
      background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
    }
  }
  .date{
    margin-top: 5px;
    font-family: "Galvji";
    color: $text-subtitle;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    font-size: $fz-main + 3;
  }
}

// 主信息
section.reference-info{
  flex-shrink: 0;
  flex-grow: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

// 传感器
section.sensor-info{
  flex-shrink: 0;
  flex-grow: 1;
}

// 小尺寸
section.size-small{
  flex-shrink: 0;
  flex-grow: 1;
}

// 大尺寸
section.size-large{
  flex-shrink: 0;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .apple-watch-list{
    padding: 0;
  }
  .apple-watch{
    padding: 0;
    flex-flow: column nowrap;
  }
  section{
    padding: 20px;
    width: 100%;
    &.main-info{
      width: 100%;
      .main-pic{
        img{
          width: 250px;
        }
      }
      .title {
        font-size: $fz-title - 3;
        &.is-new {
        }
      }
      .date{
        font-size: $fz-main;
      }
    }
    &.size-small{
      background-color: white;
    }
    &.size-large{
      background-color: white;
    }
  }
}


@import "label";
@import "dark";
