<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name='description' content="AppleWatch参数,AppleWatch参数大全,AppleWatch详细参数汇总,AppleWatch参数对比,AppleWatch所有机型参数大全,AppleWatch大全,AppleWatch 12">
    <meta name='keywords' content="AppleWatch参数,AppleWatch参数大全,AppleWatch详细参数汇总,AppleWatch参数对比,AppleWatch所有机型参数大全,AppleWatch大全,AppleWatch 12">
    <title>AppleWatch 所有机型参数大全</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/iphone_favicon256w.png" type="image/png">
    <link rel="stylesheet" href="scss/AppleWatch.css">
    <link rel="apple-touch-icon" href="img/links/iphone_white@2x.png">

    <meta name="theme-color"
          content="#ffffff"
          media="(prefers-color-scheme: light)">
    <script src="../../lib/js/vue.min.2.6.10.js"></script>
    <script src="../../lib/js/axios.min.js"></script>
    <script src="./js/qr.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" id="app" v-cloak>

    <!--ABOUT-->
    <div class="thumbs-up" @click="thumbsUp">
        <img v-if="heartActive" src="img/links/heart_active@1x.png?v=2022-09-04" alt="heart">
        <img v-else src="img/links/heart_inactive@1x.png?v=2022-09-04" alt="heart">
        <p v-show="thumbsUpCount" class="multiply">×</p>
        <h3 v-show="thumbsUpCount">{{thumbsUpCount}}</h3>
    </div>

    <!-- FILTER LIST-->
    <div class="filter-list">
        <div class="apple-watch-tag-list">
            <div :class="['apple-watch-tag', {active: selectedNames.includes(item.name)}]"
                 v-for="item in appleWatchesOrigin" :key="item.name_short"
                 @click="filterTagToggle(item.name)"
            >{{item.name_short}}</div>
        </div>
    </div>

    <!--CONTENT-->
    <div class="apple-watch-list">
        <div class="apple-watch" v-for="(appleWatch, index) in [appleWatches[0]]" :key="index">

            <div class="main-info">
                <div class="main-pic">
                    <img src="./img/apple-watch/aw-8.jpg" alt="apple watch image">
                </div>
                <div :class="['title', {'is-new': appleWatch.isNew}]">{{appleWatch.name}}</div>
                <div class="date">
                    <span>{{appleWatch.dateRelease}}</span>
                    <span v-if="appleWatch.dateUnsupported"> ~ {{appleWatch.dateUnsupported}}</span>
                </div>
            </div>
            <div class="sensor-info">
                <div class="sensor-info-item">
                    <div class="label">防水</div>
                    <div class="value">{{appleWatch.waterResistance}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">防尘</div>
                    <div class="value">{{appleWatch.dustResistance}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">WiFi</div>
                    <div class="value">{{appleWatch.wifi}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">蓝牙</div>
                    <div class="value">{{appleWatch.bluetooth}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">加速度</div>
                    <div class="value">{{appleWatch.sensorAccelerometer}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">心率检测版本</div>
                    <div class="value">{{appleWatch.sensorHeart}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">ECG支持</div>
                    <div class="value">{{appleWatch.sensorECG}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">血氧检测</div>
                    <div class="value">{{appleWatch.sensorBloodOxygen}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">温度检测</div>
                    <div class="value">{{appleWatch.sensorTemperature}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">卫星导航系统</div>
                    <div class="value">{{appleWatch.sensorGPS.join(',')}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">陀螺仪</div>
                    <div class="value">{{appleWatch.sensorGyroscope}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">光线感应器</div>
                    <div class="value">{{appleWatch.sensorAmbient}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">指南针</div>
                    <div class="value">{{appleWatch.sensorCompass}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">Siri</div>
                    <div class="value">{{appleWatch.heySiri}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">充电时长</div>
                    <div class="value">{{appleWatch.batteryChargeTime}}h</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">存储空间</div>
                    <div class="value">{{appleWatch.storage}}h</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">内存</div>
                    <div class="value">{{appleWatch.memory.type}}-{{appleWatch.memory.size}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">系统</div>
                    <div class="value">{{appleWatch.OS.from}}-{{appleWatch.OS.to}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">iPhone配对条件</div>
                    <div class="value">{{appleWatch.appleWatchRequire}}</div>
                </div>

                <div class="second-info">
                    <div class="sensor-info-item">
                        <div class="label">屏幕类型</div>
                        <div class="value">{{appleWatch.display.type}}</div>
                    </div>
                    <div class="sensor-info-item">
                        <div class="label">3D Touch</div>
                        <div class="value">{{appleWatch.display.touch3D}}</div>
                    </div>
                    <div class="sensor-info-item">
                        <div class="label">亮度</div>
                        <div class="value">{{appleWatch.display.brightness}} <span class="unit">nit</span></div>
                    </div>
                    <div class="sensor-info-item">
                        <div class="label">像素密度</div>
                        <div class="value">{{appleWatch.display.pixelDensity}} <span class="unit">ppi</span></div>
                    </div>
                </div>

            </div>

            <!-- 小尺寸  -->
            <div class="screen-info">
                <h2>尺寸 - 小 {{appleWatch.sizeSmall.name}}</h2>
                <div v-if="appleWatch.sizeSmall.screenSize" class="sensor-info-item">
                    <div class="label">屏幕尺寸</div>
                    <div class="value">{{appleWatch.sizeSmall.screenSize}} <span class="unit">mm</span></div>
                </div>
                <div v-if="appleWatch.sizeSmall.pixelWidth" class="sensor-info-item">
                    <div class="label">像素宽度</div>
                    <div class="value">{{appleWatch.sizeSmall.pixelWidth}} <span class="unit">px</span></div>
                </div>
                <div v-if="appleWatch.sizeSmall.pixelHeight" class="sensor-info-item">
                    <div class="label">像素高度</div>
                    <div class="value">{{appleWatch.sizeSmall.pixelHeight}} <span class="unit">px</span></div>
                </div>
                <div v-if="appleWatch.sizeSmall.battery" class="sensor-info-item">
                    <div class="label">电池容量</div>
                    <div class="value">{{appleWatch.sizeSmall.battery}} <span class="unit">mah</span></div>
                </div>
                <div v-if="appleWatch.sizeSmall.batteryVoltage" class="sensor-info-item">
                    <div class="label">电池电压</div>
                    <div class="value">{{appleWatch.sizeSmall.batteryVoltage}} <span class="unit">v</span></div>
                </div>

                <div class="second-info">
                    <div class="type-list" v-for="(type, index) in appleWatch.sizeSmall.type">
                        <h2>{{type.type}}</h2>
                        <div v-if="type.height" class="sensor-info-item">
                            <div class="label">高</div>
                            <div class="value">{{type.height}} <span class="unit">mm</span></div>
                        </div>
                        <div v-if="type.width" class="sensor-info-item">
                            <div class="label">宽</div>
                            <div class="value">{{type.width}} <span class="unit">mm</span></div>
                        </div>
                        <div v-if="type.depth" class="sensor-info-item">
                            <div class="label">厚</div>
                            <div class="value">{{type.depth}} <span class="unit">mm</span></div>
                        </div>
                        <div v-if="type.weight" class="sensor-info-item">
                            <div class="label">重</div>
                            <div class="value">{{type.weight}} <span class="unit">g</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 大尺寸  -->
            <div class="screen-info">
                <h2>尺寸 - 大 {{appleWatch.sizeLarge.name}}</h2>
                <div v-if="appleWatch.sizeLarge.screenSize" class="sensor-info-item">
                    <div class="label">型号</div>
                    <div class="value">{{appleWatch.sizeLarge.model}} </span></div>
                </div>
                <div v-if="appleWatch.sizeLarge.screenSize" class="sensor-info-item">
                    <div class="label">屏幕尺寸</div>
                    <div class="value">{{appleWatch.sizeLarge.screenSize}} <span class="unit">mm</span></div>
                </div>
                <div v-if="appleWatch.sizeLarge.pixelWidth" class="sensor-info-item">
                    <div class="label">像素宽度</div>
                    <div class="value">{{appleWatch.sizeLarge.pixelWidth}} <span class="unit">px</span></div>
                </div>
                <div v-if="appleWatch.sizeLarge.pixelHeight" class="sensor-info-item">
                    <div class="label">像素高度</div>
                    <div class="value">{{appleWatch.sizeLarge.pixelHeight}} <span class="unit">px</span></div>
                </div>
                <div v-if="appleWatch.sizeLarge.battery" class="sensor-info-item">
                    <div class="label">电池容量</div>
                    <div class="value">{{appleWatch.sizeLarge.battery}} <span class="unit">mah</span></div>
                </div>
                <div v-if="appleWatch.sizeLarge.batteryVoltage" class="sensor-info-item">
                    <div class="label">电池电压</div>
                    <div class="value">{{appleWatch.sizeLarge.batteryVoltage}} <span class="unit">v</span></div>
                </div>

                <div class="second-info">
                    <div class="type-list" v-for="(type, index) in appleWatch.sizeLarge.type">
                        <h2>{{type.type}}</h2>
                        <div v-if="type.height" class="sensor-info-item">
                            <div class="label">高</div>
                            <div class="value">{{type.height}} <span class="unit">mm</span></div>
                        </div>
                        <div v-if="type.width" class="sensor-info-item">
                            <div class="label">宽</div>
                            <div class="value">{{type.width}} <span class="unit">mm</span></div>
                        </div>
                        <div v-if="type.depth" class="sensor-info-item">
                            <div class="label">厚</div>
                            <div class="value">{{type.depth}} <span class="unit">mm</span></div>
                        </div>
                        <div v-if="type.weight" class="sensor-info-item">
                            <div class="label">重</div>
                            <div class="value">{{type.weight}} <span class="unit">g</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--    分享 -->
    <div class="help-container" v-show="showShare" :style="`height: ${insets.height}px`">
        <div class="help">
            <div class="help-header">
                <h3>扫一扫</h3>
            </div>
            <div class="help-body">
                <div class="qr-item">
                    <div class="img-container">
                        <img :src="shareQrCode" alt="qr">
                    </div>
                    <p>当前页</p>
                </div>
                <div class="qr-item">
                    <div class="img-container">
                        <img :src="shareQrCodeQQ" alt="qr">
                    </div>
                    <p>QQ群</p>
                </div>
            </div>
            <div class="help-footer">
                <div class="operation-btn" @click="toggleShare">关闭</div>
            </div>
        </div>
    </div>


    <footer>
        <p>2020.10.20 ~ {{dateLastUpdate}}</p>
        <p><a class="link" target="_blank" href="https://github.com/KyleBing/iphone">https://github.com/KyleBing/iphone</a></p>
        <p><a class="link" target="_blank" href="https://en.wikipedia.org/wiki/Apple_Watch">https://en.wikipedia.org/wiki/Apple_Watch</a></p>
    </footer>

</div>

<script src="js/AppleWatch.js"></script>
<script>
    setTimeout(() => {
        if (!/^http:\/\/(a\.kylebing\.cn|localhost|192\.168\.\d{1,3}\.\d{1,3})/i.test(location.href)) {
            let hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d7bb69bd69175804550d93954dad56f0";
            let s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
    }, 1000)
</script>


</body>
</html>
