<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name='description' content="AppleWatch参数,AppleWatch参数大全,AppleWatch详细参数汇总,AppleWatch参数对比,AppleWatch所有机型参数大全,AppleWatch大全,AppleWatch 12">
    <meta name='keywords' content="AppleWatch参数,AppleWatch参数大全,AppleWatch详细参数汇总,AppleWatch参数对比,AppleWatch所有机型参数大全,AppleWatch大全,AppleWatch 12">
    <title>AppleWatch 所有机型参数大全</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/apple-watch-black@2x.png" type="image/png">
    <link rel="stylesheet" href="scss/AppleWatch.css?v=20230531154845">
    <link rel="apple-touch-icon" href="img/links/apple-watch@2x.png">

    <meta name="theme-color"
          content="#ffffff"
          media="(prefers-color-scheme: light)">
    <script src="../../lib/js/vue.min.2.6.10.js"></script>
    <script src="../../lib/js/axios.min.js"></script>
    <script src="./js/qr.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" id="app" v-cloak>

    <!--ABOUT-->
    <div class="about gradient">
        <div class="about-header">
            <div class="icon">
                <img style="display: none" src="img/apple-watch-black@2x.png" alt="for 知乎链接图标抓取">
                <img src="img/apple-watch@2x.png?v=1" alt="">
            </div>
            <div class="content">
                <h1 class="title">Apple Watch 参数大全</h1>
                <div class="thumbs-up" @click="thumbsUp">
                    <img v-if="heartActive" src="img/links/heart_active@1x.png?v=2022-09-04" alt="heart">
                    <img v-else src="img/links/heart_inactive@1x.png?v=2022-09-04" alt="heart">
                    <p v-show="thumbsUpCount" class="multiply">×</p>
                    <h3 v-show="thumbsUpCount">{{thumbsUpCount}}</h3>
                </div>
            </div>
        </div>

        <div class="copyright-group">
            <div class="share-links">
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/ipad">
                    <img src="img/links/ipad_white@2x.png?v=2022-09-04" alt="ipad">
                </a>
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/iphone">
                    <img src="img/links/iphone_white@2x.png?v=2022-09-04" alt="phone">
                </a>
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/airpods">
                    <img src="img/links/airpods_white@2x.png?v=2022-09-04" alt="airpods">
                </a>
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/apple-chip">
                    <img src="img/links/chip_white@2x.png?v=2022-09-04" alt="chip">
                </a>
                <a class="link-item">
                    <img src="img/links/apple-watch@2x.png?v=2022-09-04" alt="watch">
                </a>
            </div>
            <div class="author-info">
                <p>主页：<a class="link" target="_blank" href="http://kylebing.cn/">kylebing.cn</a></p>
                <p>更新：<a class="link" target="_blank" href="https://en.wikipedia.org/wiki/IPhone">{{dateLastUpdate}}</a></p>
                <p>分享：<span @click="toggleShare">点击扫一扫</span></p>
            </div>

        </div>
    </div>

    <!-- FILTER LIST-->
    <div class="filter-list">
        <div class="apple-watch-tag-list">
            <div :class="['apple-watch-tag', {active: selectedNames.includes(item.name)}]"
                 v-for="item in appleWatchesOrigin" :key="item.name_short"
                 @click="filterTagToggle(item.name)"
            >{{item.name_short}}</div>
        </div>
    </div>

    <!--CONTENT-->
    <div class="apple-watch-list">

        <div class="apple-watch" v-for="(appleWatch, index) in appleWatches" :key="index">

            <section class="main-info">
                <div class="main-pic">
                    <img :src="appleWatch.pic" alt="apple watch image">
                </div>
                <div :class="['title', {'is-new': appleWatch.isNew}]">{{appleWatch.name}}</div>
                <div class="date">
                    <span>{{appleWatch.dateRelease}}</span>
                    <span v-if="appleWatch.dateUnsupported" class="pl-1 pr-1"> ~ </span>
                    <span v-if="appleWatch.dateUnsupported">{{appleWatch.dateUnsupported}}</span>
                </div>
            </section>

            <!--  主要参数-->
            <section class="reference-info">
                <div class="section-header">
                    <div class="section-title">主要参数</div>
                    <div class="section-subtitle"></div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">CPU</div>
                    <div class="value value-inline">{{appleWatch.cpu.name}}
                        <div class="tag ml-1">{{appleWatch.cpu.bit}}</div> × {{appleWatch.cpu.coreCount}}
                    </div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">内存</div>
                    <div class="value value-inline">{{appleWatch.memory.size}} <div class="tag ml-1">{{appleWatch.memory.type}}</div></div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">存储空间</div>
                    <div class="value" v-if="appleWatch.storage.length > 0">
                        <div class="value-item-second"
                             v-for="item in appleWatch.storage" :key="item.name">
                            <div v-if="item.name" class="label-second">{{item.name}} ： </div>
                            <div class="value-second">{{item.value}}GB</div>
                        </div>
                    </div>
                    <div class="value" v-else>
                        {{appleWatch.storage}}GB
                    </div>
                </div>

                <div class="sensor-info-item">
                    <div class="label">系统</div>
                    <div class="value">{{appleWatch.OS.from}} ~ {{appleWatch.OS.to}}</div>
                </div>

                <div class="sensor-info-item">
                    <div class="label">屏幕类型</div>
                    <div class="value">{{appleWatch.screen.type}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">WiFi</div>
                    <div class="value">{{appleWatch.wifi}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">eSIM</div>
                    <div class="value">{{appleWatch.cellular || '-'}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">蓝牙</div>
                    <div class="value">{{appleWatch.bluetooth}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">卫星导航</div>
                    <div v-if="appleWatch.sensorGPS.length > 0" class="value">{{appleWatch.sensorGPS.join('、')}}</div>
                    <div v-else class="value">-</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">防水</div>
                    <div class="value value-inline">{{appleWatch.waterResistance}} <div class="tag ml-1">水下{{appleWatch.waterResistanceThickness}}m</div></div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">防尘</div>
                    <div class="value">{{appleWatch.dustResistance || '-'}}</div>
                </div>
                <div class="sensor-info-item" v-if="appleWatch.batteryChargeTime">
                    <div class="label">充电时长</div>
                    <div class="value">
                        <div class="charging-container">
                            <div :class="['charging-item', {orange: item.name === '80%'}, {green: item.name === '100%'},] "
                                 v-for="item in appleWatch.batteryChargeTime" :key="item.name">
                                <div class="bar" :style="`width: ${item.name}`">
                                    <div class="percentage">{{item.name}}</div>
                                    <div class="time">{{item.value}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sensor-info-item">
                    <div class="label">配对条件</div>
                    <div class="value">
                        <div class="value-item-second"
                             v-for="item in appleWatch.appleWatchRequire" :key="item.name">
                            <div v-if="item.name" class="label-second">{{item.name}} ： </div>
                            <div class="value-second">{{item.value}}</div>
                        </div>
                    </div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">型号</div>
                    <div class="value">
                        <div class="value-item-second"
                             v-for="item in appleWatch.model" :key="item.name">
                            <div v-if="item.name" class="label-second">{{item.name}} ： </div>
                            <div class="value-second" v-if="typeof item.value === 'object'">
                                <div class="value-item-second"
                                     v-for="model in item.value" :key="model.name">
                                    <div v-if="model.name" class="label-second">{{model.name}} ： </div>
                                    <div class="value-second" v-if="typeof model.value === 'object'">
                                        <div class="value-item-second"
                                             v-for="size in model.value" :key="size.name">
                                            <div v-if="size.name" class="label-second">{{size.name}} ： </div>
                                            <div class="value-second">{{size.value}}</div>
                                        </div>
                                    </div>
                                    <div v-else class="value-second">{{model.value}}</div>

                                </div>
                            </div>
                            <div v-else class="value-second">{{item.value}}</div>
                        </div>
                    </div>
                </div>
            </section>

            <!--  传感器参数-->
            <section class="sensor-info">
                <div class="section-header">
                    <div class="section-title">传感器参数</div>
                    <div class="section-subtitle"></div>
                </div>

                <div class="sensor-info-item">
                    <div class="label">加速度</div>
                    <div v-if="typeof(appleWatch.sensorAccelerometer) === 'string'" class="value">{{appleWatch.sensorAccelerometer}}</div>
                    <div v-else class="value">{{appleWatch.sensorAccelerometer}}g</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">宽频芯片</div>
                    <div class="value">{{appleWatch.ultraWideBand || '-'}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">心率检测</div>
                    <div class="value">{{appleWatch.sensorHeart}} 代</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">陀螺仪</div>
                    <div class="value">{{appleWatch.sensorGyroscope?'✓':'-'}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">光线感应</div>
                    <div class="value">{{appleWatch.sensorAmbient?'✓':'-'}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">Siri</div>
                    <div class="value">{{appleWatch.heySiri?'✓':'-'}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">指南针</div>
                    <div class="value">{{appleWatch.sensorCompass?'✓':'-'}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">ECG支持</div>
                    <div class="value">{{appleWatch.sensorECG?'✓':'-'}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">血氧检测</div>
                    <div class="value">{{appleWatch.sensorBloodOxygen?'✓':'-'}}</div>
                </div>
                <div class="sensor-info-item">
                    <div class="label">温度检测</div>
                    <div class="value">{{appleWatch.sensorTemperature?'✓':'-'}}</div>
                </div>


            </section>

            <!-- 小尺寸  -->
            <section class="size-small" v-if="appleWatch.sizeSmall">
                <div class="section-header">
                    <div class="section-title">小尺寸</div>
                    <div class="section-subtitle">{{appleWatch.sizeSmall.screenSize}}</div>
                </div>
                <div v-if="appleWatch.sizeSmall.battery" class="sensor-info-item">
                    <div class="label">电池容量</div>
                    <div class="value" v-if="isNaN(appleWatch.sizeSmall.battery)">
                        <div class="value-item-second"
                             v-for="item in appleWatch.sizeSmall.battery" :key="item.name">
                            <div v-if="item.name" class="label-second">{{item.name}} ： </div>
                            <div class="value-second">{{item.value}} <span class="unit">mah</span></div>
                        </div>
                    </div>
                    <div class="value" v-else>
                        {{appleWatch.sizeSmall.battery}} <span class="unit">mah</span>
                    </div>
                </div>
                <div v-if="appleWatch.sizeSmall.batteryVoltage" class="sensor-info-item">
                    <div class="label">电池电压</div>
                    <div class="value" v-if="isNaN(appleWatch.sizeSmall.batteryVoltage)">
                        <div class="value-item-second"
                             v-for="item in appleWatch.sizeSmall.batteryVoltage" :key="item.name">
                            <div v-if="item.name" class="label-second">{{item.name}} ： </div>
                            <div class="value-second">{{item.value}} <span class="unit">v</span></div>
                        </div>
                    </div>
                    <div class="value" v-else>
                        {{appleWatch.sizeSmall.batteryVoltage}} <span class="unit">v</span>
                    </div>
                </div>

                <div class="svg-screen mt-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123.93 129">
                        <title>screen-info</title>
                        <g id="图层_2" data-name="图层 2">
                            <g id="图层_1-2" data-name="图层 1">
                                <g id="screen-info">
                                    <rect class="cls-1" x="34.43" y="0.5" width="89" height="105" rx="16.5"/>
                                    <path class="cls-2"
                                          d="M106.93,1a16,16,0,0,1,16,16V89a16,16,0,0,1-16,16h-56a16,16,0,0,1-16-16V17a16,16,0,0,1,16-16h56m0-1h-56a17,17,0,0,0-17,17V89a17,17,0,0,0,17,17h56a17,17,0,0,0,17-17V17a17,17,0,0,0-17-17Z"/>
                                    <path class="cls-3"
                                          d="M112.93,31h-10V21h-10V11h-10V1h-32a16,16,0,0,0-16,16V89a16,16,0,0,0,16,16h56a16,16,0,0,0,16-16V41h-10Z"/>
                                    <rect class="cls-4" x="82.93" y="1" width="10" height="10"/>
                                    <rect class="cls-5" x="92.93" y="1" width="10" height="10"/>
                                    <path class="cls-6" d="M112.93,11V2.17a16,16,0,0,0-6-1.17h-4V11Z"/>
                                    <path class="cls-7" d="M121.75,11a16.06,16.06,0,0,0-8.82-8.83V11Z"/>
                                    <rect class="cls-4" x="92.93" y="11" width="10" height="10"/>
                                    <rect class="cls-5" x="102.93" y="11" width="10" height="10"/>
                                    <path class="cls-6" d="M112.93,11V21h10V17a16,16,0,0,0-1.18-6Z"/>
                                    <rect class="cls-4" x="102.93" y="21" width="10" height="10"/>
                                    <rect class="cls-5" x="112.93" y="21" width="10" height="10"/>
                                    <rect class="cls-4" x="112.93" y="31" width="10" height="10"/>
                                    <rect class="cls-8" x="82.93" y="11" width="10" height="10"/>
                                    <rect class="cls-8" x="92.93" y="21" width="10" height="10"/>
                                    <rect class="cls-8" x="102.93" y="31" width="10" height="10"/>
                                    <rect class="cls-8" x="112.93" y="41" width="10" height="10"/>
                                    <rect class="cls-8" x="72.93" y="1" width="10" height="10"/>
                                    <line class="cls-9" x1="17.93" y1="2.75" x2="17.93" y2="104.25"/>
                                    <rect class="cls-10" x="16.3" y="2.5" width="3.25" height="0.5"/>
                                    <rect class="cls-10" x="16.3" y="104" width="3.25" height="0.5"/>
                                    <line class="cls-9" x1="35.68" y1="120" x2="123.18" y2="120"/>
                                    <rect class="cls-10" x="35.43" y="118.37" width="0.5" height="3.25"/>
                                    <rect class="cls-10" x="122.93" y="118.37" width="0.5" height="3.25"/>
                                    <rect class="cls-1" x="0.93" y="45" width="30" height="19"/>
                                    <rect class="cls-1" x="62.93" y="110" width="30" height="19"/>
                                    <text id="height" class="cls-11" transform="translate(4.52 58.51)">{{ appleWatch.sizeSmall.pixelHeight}}</text>
                                    <text id="width" class="cls-11" transform="translate(66.04 123.96)">{{appleWatch.sizeSmall.pixelWidth}}</text>
                                    <text class="cls-12" transform="translate(45.55 53.04)">{{appleWatch.screen.brightness}}</text>
                                    <text class="cls-13" transform="translate(73.55 53.04)">nit</text>
                                    <text class="cls-12" transform="translate(45.55 67.04)">{{appleWatch.screen.pixelDensity}}</text>
                                    <text class="cls-13" transform="translate(66.55 67.04)">ppi</text>
                                    <text class="cls-12" transform="translate(45.82 94.01)" v-if="appleWatch.screen.touch3D">3D
                                        <tspan class="cls-14" x="16.44" y="0">T</tspan>
                                        <tspan x="21.06" y="0">ouch</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                <div v-for="item in appleWatch.sizeSmall.type" class="svg-size">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 139">
                        <title>watch-info</title>
                        <g id="图层_2" data-name="图层 2">
                            <g id="图层_1-2" data-name="图层 1">
                                <g id="watch-info">
                                    <rect class="cls-1" x="119" width="88" height="104" rx="18"/>
                                    <rect class="cls-2" x="107.5" y="10.5" width="89" height="105" rx="18.5"/>
                                    <path class="cls-3"
                                          d="M178,11a18,18,0,0,1,18,18V97a18,18,0,0,1-18,18H126a18,18,0,0,1-18-18V29a18,18,0,0,1,18-18h52m0-1H126a19,19,0,0,0-19,19V97a19,19,0,0,0,19,19h52a19,19,0,0,0,19-19V29a19,19,0,0,0-19-19Z"/>
                                    <line class="cls-4" x1="93" y1="12.75" x2="93" y2="114.25"/>
                                    <rect class="cls-5" x="91.38" y="12.5" width="3.25" height="0.5"/>
                                    <rect class="cls-5" x="91.38" y="114" width="3.25" height="0.5"/>
                                    <line class="cls-4" x1="108.75" y1="130" x2="195.25" y2="130"/>
                                    <rect class="cls-5" x="108.5" y="128.38" width="0.5" height="3.25"/>
                                    <rect class="cls-5" x="195" y="128.38" width="0.5" height="3.25"/>
                                    <line class="cls-4" x1="201.68" y1="121.32" x2="217.33" y2="105.68"/>
                                    <rect class="cls-5" x="201.43" y="119.7" width="0.5" height="3.25"
                                          transform="translate(-26.72 178.14) rotate(-45)"/>
                                    <rect class="cls-5" x="217.08" y="104.05" width="0.5" height="3.25"
                                          transform="translate(-11.07 184.63) rotate(-45)"/>
                                    <rect class="cls-6" x="76" y="55" width="30" height="19"/>
                                    <rect class="cls-6" x="137" y="120" width="34" height="19"/>
                                    <rect class="cls-6" x="215" y="111" width="30" height="19"/>
                                    <text id="height" class="cls-7" transform="translate(75.71 68.51)">{{item.height}}</text>
                                    <text id="width" class="cls-7" transform="translate(143.86 133.96)">{{item.width}}</text>
                                    <text id="thickness" class="cls-7" transform="translate(215.49 122.96)">{{item.thickness.toFixed(1)}}</text>
                                    <text class="cls-8" transform="matrix(1, -0.01, 0.01, 1, 5.96, 71.24)">{{item.type}}</text>
                                    <text class="cls-7" transform="translate(0 91.42)">{{item.weight.toFixed(1)}}</text>
                                    <text class="cls-9" transform="translate(28.89 91.42)">g</text>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </section>

            <!-- 大尺寸  -->
            <section class="size-large" v-if="appleWatch.sizeLarge">
                <div class="section-header">
                    <div class="section-title">大尺寸</div>
                    <div class="section-subtitle">{{appleWatch.sizeLarge.screenSize}}</div>
                </div>

                <div v-if="appleWatch.sizeLarge.battery" class="sensor-info-item">
                    <div class="label">电池容量</div>
                    <div class="value" v-if="appleWatch.sizeLarge.battery.length > 0">
                        <div class="value-item-second"
                             v-for="item in appleWatch.sizeLarge.battery" :key="item.name">
                            <div v-if="item.name" class="label-second">{{item.name}} ： </div>
                            <div class="value-second">{{item.value}} <span class="unit">mah</span></div>
                        </div>
                    </div>
                    <div class="value" v-else>
                        {{appleWatch.sizeLarge.battery}} <span class="unit">mah</span>
                    </div>
                </div>
                <div v-if="appleWatch.sizeLarge.batteryVoltage" class="sensor-info-item">
                    <div class="label">电池电压</div>
                    <div class="value" v-if="appleWatch.sizeLarge.batteryVoltage.length > 0">
                        <div class="value-item-second"
                             v-for="item in appleWatch.sizeLarge.batteryVoltage" :key="item.name">
                            <div v-if="item.name" class="label-second">{{item.name}} ： </div>
                            <div class="value-second">{{item.value}} <span class="unit">v</span></div>
                        </div>
                    </div>
                    <div class="value" v-else>
                        {{appleWatch.sizeLarge.batteryVoltage}} <span class="unit">v</span>
                    </div>
                </div>

                <div class="svg-screen mt-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123.93 129">
                        <title>screen-info</title>
                        <g id="图层_2" data-name="图层 2">
                            <g id="图层_1-2" data-name="图层 1">
                                <g id="screen-info">
                                    <rect class="cls-1" x="34.43" y="0.5" width="89" height="105" rx="16.5"/>
                                    <path class="cls-2"
                                          d="M106.93,1a16,16,0,0,1,16,16V89a16,16,0,0,1-16,16h-56a16,16,0,0,1-16-16V17a16,16,0,0,1,16-16h56m0-1h-56a17,17,0,0,0-17,17V89a17,17,0,0,0,17,17h56a17,17,0,0,0,17-17V17a17,17,0,0,0-17-17Z"/>
                                    <path class="cls-3"
                                          d="M112.93,31h-10V21h-10V11h-10V1h-32a16,16,0,0,0-16,16V89a16,16,0,0,0,16,16h56a16,16,0,0,0,16-16V41h-10Z"/>
                                    <rect class="cls-4" x="82.93" y="1" width="10" height="10"/>
                                    <rect class="cls-5" x="92.93" y="1" width="10" height="10"/>
                                    <path class="cls-6" d="M112.93,11V2.17a16,16,0,0,0-6-1.17h-4V11Z"/>
                                    <path class="cls-7" d="M121.75,11a16.06,16.06,0,0,0-8.82-8.83V11Z"/>
                                    <rect class="cls-4" x="92.93" y="11" width="10" height="10"/>
                                    <rect class="cls-5" x="102.93" y="11" width="10" height="10"/>
                                    <path class="cls-6" d="M112.93,11V21h10V17a16,16,0,0,0-1.18-6Z"/>
                                    <rect class="cls-4" x="102.93" y="21" width="10" height="10"/>
                                    <rect class="cls-5" x="112.93" y="21" width="10" height="10"/>
                                    <rect class="cls-4" x="112.93" y="31" width="10" height="10"/>
                                    <rect class="cls-8" x="82.93" y="11" width="10" height="10"/>
                                    <rect class="cls-8" x="92.93" y="21" width="10" height="10"/>
                                    <rect class="cls-8" x="102.93" y="31" width="10" height="10"/>
                                    <rect class="cls-8" x="112.93" y="41" width="10" height="10"/>
                                    <rect class="cls-8" x="72.93" y="1" width="10" height="10"/>
                                    <line class="cls-9" x1="17.93" y1="2.75" x2="17.93" y2="104.25"/>
                                    <rect class="cls-10" x="16.3" y="2.5" width="3.25" height="0.5"/>
                                    <rect class="cls-10" x="16.3" y="104" width="3.25" height="0.5"/>
                                    <line class="cls-9" x1="35.68" y1="120" x2="123.18" y2="120"/>
                                    <rect class="cls-10" x="35.43" y="118.37" width="0.5" height="3.25"/>
                                    <rect class="cls-10" x="122.93" y="118.37" width="0.5" height="3.25"/>
                                    <rect class="cls-1" x="0.93" y="45" width="30" height="19"/>
                                    <rect class="cls-1" x="62.93" y="110" width="30" height="19"/>
                                    <text id="height" class="cls-11" transform="translate(4.52 58.51)">{{ appleWatch.sizeLarge.pixelHeight}}</text>
                                    <text id="width" class="cls-11" transform="translate(66.04 123.96)">{{appleWatch.sizeLarge.pixelWidth}}</text>
                                    <text class="cls-12" transform="translate(45.55 53.04)">{{appleWatch.screen.brightness}}</text>
                                    <text class="cls-13" transform="translate(73.55 53.04)">nit</text>
                                    <text class="cls-12" transform="translate(45.55 67.04)">{{appleWatch.screen.pixelDensity}}</text>
                                    <text class="cls-13" transform="translate(66.55 67.04)">ppi</text>
                                    <text class="cls-12" transform="translate(45.82 94.01)" v-if="appleWatch.screen.touch3D">3D
                                        <tspan class="cls-14" x="16.44" y="0">T</tspan>
                                        <tspan x="21.06" y="0">ouch</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>

                <div v-for="item in appleWatch.sizeLarge.type" class="svg-size">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 139">
                        <title>watch-info</title>
                        <g id="图层_2" data-name="图层 2">
                            <g id="图层_1-2" data-name="图层 1">
                                <g id="watch-info">
                                    <rect class="cls-1" x="119" width="88" height="104" rx="18"/>
                                    <rect class="cls-2" x="107.5" y="10.5" width="89" height="105" rx="18.5"/>
                                    <path class="cls-3"
                                          d="M178,11a18,18,0,0,1,18,18V97a18,18,0,0,1-18,18H126a18,18,0,0,1-18-18V29a18,18,0,0,1,18-18h52m0-1H126a19,19,0,0,0-19,19V97a19,19,0,0,0,19,19h52a19,19,0,0,0,19-19V29a19,19,0,0,0-19-19Z"/>
                                    <line class="cls-4" x1="93" y1="12.75" x2="93" y2="114.25"/>
                                    <rect class="cls-5" x="91.38" y="12.5" width="3.25" height="0.5"/>
                                    <rect class="cls-5" x="91.38" y="114" width="3.25" height="0.5"/>
                                    <line class="cls-4" x1="108.75" y1="130" x2="195.25" y2="130"/>
                                    <rect class="cls-5" x="108.5" y="128.38" width="0.5" height="3.25"/>
                                    <rect class="cls-5" x="195" y="128.38" width="0.5" height="3.25"/>
                                    <line class="cls-4" x1="201.68" y1="121.32" x2="217.33" y2="105.68"/>
                                    <rect class="cls-5" x="201.43" y="119.7" width="0.5" height="3.25"
                                          transform="translate(-26.72 178.14) rotate(-45)"/>
                                    <rect class="cls-5" x="217.08" y="104.05" width="0.5" height="3.25"
                                          transform="translate(-11.07 184.63) rotate(-45)"/>
                                    <rect class="cls-6" x="76" y="55" width="30" height="19"/>
                                    <rect class="cls-6" x="137" y="120" width="34" height="19"/>
                                    <rect class="cls-6" x="215" y="111" width="30" height="19"/>
                                    <text id="height" class="cls-7" transform="translate(75.71 68.51)">{{item.height}}</text>
                                    <text id="width" class="cls-7" transform="translate(143.86 133.96)">{{item.width}}</text>
                                    <text id="thickness" class="cls-7" transform="translate(215.49 122.96)">{{item.thickness.toFixed(1)}}</text>
                                    <text class="cls-8" transform="matrix(1, -0.01, 0.01, 1, 5.96, 71.24)">{{item.type}}</text>
                                    <text class="cls-7" transform="translate(0 91.42)">{{item.weight.toFixed(1)}}</text>
                                    <text class="cls-9" transform="translate(28.89 91.42)">g</text>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

            </section>

        </div>
    </div>


    <!-- 分享 -->
    <div class="help-container" v-show="showShare" :style="`height: ${insets.height}px`">
        <div class="help">
            <div class="help-header">
                <h3>扫一扫</h3>
            </div>
            <div class="help-body">
                <div class="qr-item">
                    <div class="img-container">
                        <img :src="shareQrCode" alt="qr">
                    </div>
                    <p>当前页</p>
                </div>
                <div class="qr-item">
                    <div class="img-container">
                        <img :src="shareQrCodeQQ" alt="qr">
                    </div>
                    <p>QQ群</p>
                </div>
            </div>
            <div class="help-footer">
                <div class="operation-btn" @click="toggleShare">关闭</div>
            </div>
        </div>
    </div>


    <footer>
        <p>2023-03-29 ~ {{dateLastUpdate}}</p>
        <p><a class="link" target="_blank" href="https://github.com/KyleBing/apple-watch">https://github.com/KyleBing/apple-watch</a></p>
        <p><a class="link" target="_blank" href="https://en.wikipedia.org/wiki/Apple_Watch">https://en.wikipedia.org/wiki/Apple_Watch</a></p>
    </footer>

</div>

<script src="js/AppleWatch.js?v=20230531154845"></script>
<script>
    setTimeout(() => {
        if (!/^http:\/\/(a\.kylebing\.cn|localhost|192\.168\.\d{1,3}\.\d{1,3})/i.test(location.href)) {
            let hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f9eea8d23247717dc7a12ceb394701d1";
            let s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
    }, 1000)
</script>


</body>
</html>
